#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.light {
  color: #242424;
  background-color: #ffffff;
}

.dark {
  color: #f9f9f9;
  background-color: #242424;
}